<main class="home">
    <h1>Displaying database results</h1>
    
    <div class="sql1">
        <h2>displaying all movies</h2>
        <p>{{mTitles}}</p>
    </div>
    <div class="sql2">
        <h2>displaying titanic</h2>
        <h3>{{titanicName}}</h3>
        <p>{{titanicDesc}}</p>
    </div>
    <div class="sql3">
        <h2>90s movies</h2>
        <p>{{title90}}</p>
    </div>

</main>